In [7]:
import pandas as pd

In [15]:
csv_path_Jan = "201901-citibike-tripdata.csv"
csv_path_Feb = "201902-citibike-tripdata.csv"
csv_path_Mar = "201903-citibike-tripdata.csv"
csv_path_Apr = "201904-citibike-tripdata.csv"
csv_path_May = "201905-citibike-tripdata.csv"
csv_path_Jun = "201906-citibike-tripdata.csv"
csv_path_Jul = "201907-citibike-tripdata.csv"
csv_path_Aug = "201908-citibike-tripdata.csv"
csv_path_Sep = "201909-citibike-tripdata.csv"
csv_path_Oct = "201910-citibike-tripdata.csv"
csv_path_Nov = "201911-citibike-tripdata.csv"
csv_path_Dec = "201912-citibike-tripdata.csv"

In [32]:
citi_Jan_df= pd.read_csv(csv_path_Jan)
citi_Jan_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,2019-01-31 17:33:26.4490,2019-01-31 17:38:17.8940,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2
967283,437,2019-01-31 18:57:45.3380,2019-01-31 19:05:02.4970,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2
967284,173,2019-01-31 19:11:41.1930,2019-01-31 19:14:34.3350,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1
967285,244,2019-01-31 20:54:51.1440,2019-01-31 20:58:55.3100,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1
967286,387,2019-01-31 23:38:42.1770,2019-01-31 23:45:09.4520,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1

In [21]:
citi_Feb_df= pd.read_csv(csv_path_Feb)

In [22]:
citi_Mar_df= pd.read_csv(csv_path_Mar)

In [23]:
citi_Apr_df= pd.read_csv(csv_path_Apr)

In [24]:
citi_May_df= pd.read_csv(csv_path_May)

In [25]:
citi_Jun_df= pd.read_csv(csv_path_Jun)

In [26]:
citi_Jul_df= pd.read_csv(csv_path_Jul)

In [27]:
citi_Aug_df= pd.read_csv(csv_path_Aug)

In [28]:
citi_Sep_df= pd.read_csv(csv_path_Sep)

In [29]:
citi_Oct_df= pd.read_csv(csv_path_Oct)

In [30]:
citi_Nov_df= pd.read_csv(csv_path_Nov)

In [31]:
citi_Dec_df= pd.read_csv(csv_path_Dec)

In [33]:
# year_2019 = [citi_Jan_df, citi_Feb_df, citi_Mar_df, citi_Apr_df, citi_May_df, citi_Jun_df, citi_Jul_df, citi_Aug_df, citi_Sep_df, citi_Oct_df, citi_Nov_df, citi_Dec_df]

In [76]:
# citi_2019_df= pd.concat(year_2019)
# citi_2019_df

In [77]:
# col_cleanup_df = citi_2019_df.drop(columns = ['start station name','end station name', 'bikeid','usertype'])

In [78]:
# col_cleanup_df[['Date','Time']] = col_cleanup_df.starttime.str.split(" ",expand=True,)
# col_cleanup_df

In [68]:
year_cleanup_df = year_cleanup_df.drop(columns=['starttime','stoptime'])

In [69]:
# year_cleanup_df.to_csv('citi_bike_2019.csv')

In [79]:
# cleaned_df = citi_2019_df.drop(columns = ["start station name","start station latitude","start station longitude", "end station id", "end station name", "end station latitude", "end station longitude", "bikeid", "usertype","birth year","gender"])
# cleaned_df

In [ ]:
# splitting starttime into a Date and Time Column to make it easier to group by date

In [37]:
cleaned_df[['Date','Time']] = cleaned_df.starttime.str.split(" ",expand=True,)
cleaned_df

,tripduration,starttime,stoptime,start station id,Date,Time
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,2019-01-01,00:01:47.4010
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,2019-01-01,00:04:43.7360
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,2019-01-01,00:06:03.9970
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,2019-01-01,00:07:03.5450
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,2019-01-01,00:07:35.9450
...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141.0,2019-12-31,23:58:18.0160
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490.0,2019-12-31,23:58:59.8960
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349.0,2019-12-31,23:59:03.6950
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252.0,2019-12-31,23:59:21.3610
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351.0,2019-12-31,23:59:55.2960

In [43]:
dateGroup= cleaned_df.groupby('Date')

In [47]:
#using count to find bikes per day (bpd)
bpd= dateGroup['Date'].count()
bpd

Date
2019-01-01    21962
2019-01-02    37797
2019-01-03    41676
2019-01-04    43922
2019-01-05    17432
              ...
2019-12-27    31808
2019-12-28    28520
2019-12-29    17968
2019-12-30    12138
2019-12-31    31510
Name: Date, Length: 365, dtype: int64

In [52]:
date_df= pd.DataFrame({"Date":bpd})

In [51]:
date_df.to_csv("date_group.csv")

In [53]:
springGroup= cleaned_df[(cleaned_df['Date']>= '2019-03-01') & (cleaned_df['Date']< '2019-06-01')].groupby('Date')

In [58]:
spring_count = springGroup['Date'].count()
spring_count

Date
2019-03-01    30233
2019-03-02    18001
2019-03-03    23239
2019-03-04    28421
2019-03-05    37097
              ...
2019-05-27    66595
2019-05-28    59432
2019-05-29    55089
2019-05-30    52481
2019-05-31    83347
Name: Date, Length: 92, dtype: int64

In [59]:
spring_count.sum()

5018617

In [80]:
summer_2019 = [citi_Jun_df, citi_Jul_df, citi_Aug_df]

In [85]:
citi_summer_df= pd.concat(summer_2019)
citi_summer_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344219,216,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116.0,W 17 St & 8 Ave,40.741776,-74.001497,509.0,9 Ave & W 22 St,40.745497,-74.001971,38655,Subscriber,1972,1
2344220,117,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429.0,Hanson Pl & Ashland Pl,40.685068,-73.977908,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,25264,Subscriber,1982,2
2344221,1614,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387.0,Centre St & Chambers St,40.712733,-74.004607,3440.0,Fulton St & Adams St,40.692418,-73.989495,28485,Customer,1969,0
2344222,1301,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168.0,Central Park West & W 85 St,40.784727,-73.969617,423.0,W 54 St & 9 Ave,40.765849,-73.986905,38664,Customer,1969,0
2344223,419,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447.0,8 Ave & W 52 St,40.763707,-73.985162,529.0,W 42 St & 8 Ave,40.757570,-73.990985,35210,Subscriber,1994,1

In [86]:
citi_summer_df = citi_summer_df.drop(columns = ['start station name','end station name', 'bikeid','usertype'])

In [87]:
citi_summer_df[['Date','Time']] = citi_summer_df.starttime.str.split(" ",expand=True,)
citi_summer_df

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,birth year,gender,Date,Time
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602.0,40.763154,-73.920827,3570.0,40.755733,-73.923661,1992,1,2019-06-01,00:00:01.5000
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054.0,40.689493,-73.942061,3781.0,40.698568,-73.918877,1987,2,2019-06-01,00:00:04.2400
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229.0,40.727434,-73.993790,326.0,40.729538,-73.984267,1990,2,2019-06-01,00:00:06.0190
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771.0,40.706237,-73.933871,3016.0,40.720368,-73.961651,1987,1,2019-06-01,00:00:06.7760
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441.0,40.756014,-73.967416,3159.0,40.774925,-73.982666,1973,1,2019-06-01,00:00:07.5200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344219,216,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116.0,40.741776,-74.001497,509.0,40.745497,-74.001971,1972,1,2019-08-31,23:59:46.2930
2344220,117,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429.0,40.685068,-73.977908,353.0,40.685396,-73.974315,1982,2,2019-08-31,23:59:47.7970
2344221,1614,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387.0,40.712733,-74.004607,3440.0,40.692418,-73.989495,1969,0,2019-08-31,23:59:48.1560
2344222,1301,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168.0,40.784727,-73.969617,423.0,40.765849,-73.986905,1969,0,2019-08-31,23:59:58.3620
2344223,419,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447.0,40.763707,-73.985162,529.0,40.757570,-73.990985,1994,1,2019-08-31,23:59:59.4520

In [88]:
summer_cleanup_df = citi_summer_df.drop(columns=['starttime','stoptime'])

In [ ]:
summer_cleanup_df[''] = df['Val10'] - df['Val1']

In [89]:
summer_cleanup_df.to_csv('summer_2019.csv')